<nav class="nav-primary hidden-xs">
	<ul class="nav" id="nav">
	
		<li class="active">
			<a href="/admin/index">
				<i class="fa fa-dashboard icon">
					<b class="bg-success">
					</b>
				</i>
				<span>
					控制台
				</span>
			</a>
		</li>
		
		<li id="adminUserNav">
			<a href="#">
				<i class="fa fa-users icon">
					<b class="bg-danger">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				<span>
					用户管理
				</span>
			</a>
			<!-- 导航列表 -->
			<ul class="nav lt">
				<li>
					<a href="/adminUser/index">
						<span>
							用户列表
						</span>
					</a>
				</li>
				<li>
					<a href="/adminUser/add">
						<span>
							添加用户
						</span>
					</a>
				</li>
			</ul>
		</li>
		
		<li>
			<a href="/adminBlog/index">
				<i class="fa fa-file icon">
					<b class="bg-warning">
					</b>
				</i>
				<span>
					博客管理
				</span>
			</a>
		</li>
		<li id="adminEmailNav">
			<a href="#layout">
				<i class="fa fa-envelope-o icon">
					<b class="bg-warning">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				<span>
					邮件管理
				</span>
			</a>
			<ul class="nav lt">
				<li>
					<a href="/admin/t?t=email/set">
						<span>
							配置
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=email/template">
						<span>
							模板
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=email/sendToUsers">
						<span>
							发送邮件给用户
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=email/send">
						<span>
							发送邮件
						</span>
					</a>
				</li>
				<li>
					<a href="/adminEmail/list">
						<span>
							邮件发送日志
						</span>
					</a>
				</li>
			</ul>
		</li>
		
		<li id="adminSettingNav">
			<a href="#layout">
				<i class="fa fa-cog icon">
					<b class="bg-info">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				<span>
					配置
				</span>
			</a>
			<ul class="nav lt">

				<li>
					<a href="/admin/t?t=setting/site_url">
						<span>
							网址
						</span>
					</a>
				</li>

				<li>
					<a href="/admin/t?t=setting/home_page">
						<span>
							首页
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/demo">
						<span>
							演示用户
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/open_register">
						<span>
							开放注册
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/share_note">
						<span>
							共享笔记
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/upload">
						<span>
							上传文件尺寸设置
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/export_pdf">
						<span>
							导出 PDF
						</span>
					</a>
				</li>
				
			</ul>
		</li>
		
		<li>
			<a href="#">
				<i class="fa fa-columns icon">
					<b class="bg-success">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				
				<span>
					数据
				</span>
			</a>
			<ul class="nav lt">
				<li>
					<a href="/admin/t?t=data/configuration">
						<span>
							Mongodb Tool 配置
						</span>
					</a>
				</li>
				<li>
					<a href="/adminData/index">
						<span>
							备份恢复
						</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
